
<head> <link rel="stylesheet" href="style.css">
<link rel="https://art.pixilart.com/262ef412743b708.png" type="image/x-icon" href="https://art.pixilart.com/262ef412743b708.png">
  </head>

body {
  background-color: grey;
}

nav{
  list-style-type:none;
  position:fixed;
  width:100%;
  top: 0;
  left:0;
  font-size:23px;
}

li {
  display: inline;
  padding: 15px;
}
li: hover{
  background-color: lightblue;
}

a{
  text-decoration: none;
  color: white;
}
h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: Georgia;
  line-height: 1.3;
  letter-spacing: 20px;
  text-shadow: 
}

img { 
  border: dashed lightblue 5px; 
  width: 25%;
}

img:hover {
  border: dashed lightblue 3px;
}
