
<head> <link rel="stylesheet" href="style.css">
<link rel="https://art.pixilart.com/262ef412743b708.png" type="https://art.pixilart.com/262ef412743b708.png/x-icon" href="https://art.pixilart.com/262ef412743b708.png">
  </head>

body {
  background-color: grey
}

h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: Georgia;
  line-height: 1.3;
  letter-spacing: 20px;
  text-shadow: 
}

img { 
  border: dashed lightblue 5px; 
  width: 25%;
}

img:hover {
  border: dashed lightblue 3px
}
